.text-input.large.comment {
   width: 80%;
  height: 116px;
  
}
.content.comments {
    width: 100%;
  gap: 24px;
  align-items: flex-end;

}
.wrap-comments {
  margin: auto;
    max-width: 824px;
  
  display: flex;

}
