.header {
  flex: 0 0 64px;
  width: 100%;
  background-color: rgba(246, 247, 248, 1);
}

.logo {
  width: 29px;
  height: 29px;
  margin: auto 0;
  border-radius: 50%;
}
.left-group {
  display: flex;
  align-items: center;
  width: 548px;
  gap: 29px; /* отступ между элементами внутри группы */
}
.right-group {
  width: 244px;
  display: flex;
  align-items: center;

  gap: 10px; /* отступ между элементами внутри группы */

  a {
    color: var(--text-secondary);
    font-size: 13px;
  }
}

.reg-arrow {
  width: 24px;
  height: 24px;
}
.avatar-post {
  border-radius: 50%;
  min-width: 35px;
  height: 35px;
  max-width: 35px;
  object-fit: cover;
}

.reg-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.log-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.bx.bx-globe {
  border-radius: 50%;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.bx.bx-globe:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px 3px var(--bg-accent-1);
}
.avatar-post.head {
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
.avatar-post.head:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px 3px var(--bg-accent-1);
}
