.text-input {
  --input-border-radius: 12px;
  box-sizing: border-box;
  width: auto;
  min-width: unset;
  max-width: unset;
  flex: 1 1 auto;
  background-color: var(--bg-neutral-1);
  color: var(--text-primary);
  border: thin solid transparent;
  border-width: 2px;
  border-radius: var(--input-border-radius);

  z-index: 100;

  &::placeholder {
    color: var(--text-secondary);
  }

  &.medium {
    font-size: 13px;
    line-height: 20px;
    padding: 6px 10px;
    height: 32px;

    --input-border-radius: 8px;
  }
  &.large {
    font-size: 15px;
    line-height: 24px;
    padding: 16px;
    height: 56px;


    --input-border-radius: 12px;
  }

  @media screen and (prefers-reduced-motion: no-preference) {
    transition: border 0.2s linear, background-color 0.2s linear,
      color 0.2s linear;
  }

  &:focus {
    outline: none;
    background-color: var(--bg-accent-hover);
    border-color: rgb(207, 159, 249);
  }
  &:hover {
    background-color: var(--bg-accent-hover);
  }
}

.search-wrapper {
  position: relative;
  display: inline-block;
  width:320px;
}

.search-wrapper input.with-button {
  padding-right: 40px;
  width:320px;
}

.search-icon-button {
  position: absolute;
  right: 1px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 4px 4px;
}

.reset-icon-button {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 4px 8px;
}

[data-theme="dark"] .text-input:hover {

  border-color: var(--accent-color);
} 