.login-dialog {
  box-sizing: border-box;
  max-width: 414px;
  min-width: 320px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 34px;
  margin: auto;
  padding: 20px 24px 24px;
  border-radius: 20px;
  flex: 1 1 auto;

  .login-title {
    text-align: center;
    font-family: "Neue Haas Unica W1G";
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin-block-end: 20px; /* == margin-bottom */
  }
  .login-fields {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;

    .field-row {
      display: flex;
    }
  }
  .login-footer {
    margin-block-start: 20px;
    display: flex;
    flex-flow: row wrap-reverse;
    gap: 12px;

    .button.secondary {
      flex: 1 1 40%;
    }
  }
}
