* {
  font-family: "Neue Haas Unica W1G";
}
html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.content-reg {
  flex: 1 0 auto;
  display: flex;
  background-color: #fff;
}
.header {
  flex: 0 0 64px;
  width: 100%;
  background-color: rgba(246, 247, 248, 1);
  padding: 0;
}

.logo-container {
  flex: 1 0 auto;
  display: flex;
  margin: auto;
  gap: 92px;

  width: 824px;
  height: 100%;
  background-color: rgba(246, 247, 248, 1);
  align-items: center;

  .text-input {
    max-width: 320px;
  }
}

.hr-line {
  background-color: rgb(188, 113, 255, 0.3);
  margin: 0;
  width: 824px;
  height: 1px;
  border-style: none;
  margin: 0 auto;
}

.bx.bx-globe {
  font-size: 29px; /* Размер шрифта вместо width/height */
  color: rgb(188, 113, 255);
  margin: 0;
  display: inline-block;
  font-weight: 200;
}
