@import "css/inputs.css";
@import "css/buttons.css";
@import "css/login.css";
@import "css/headerNoAuth.css";
@import "css/card.css";
@import "css/profileEdit.css";
@import "css/media.css";
@import "css/comments.css";
@import "css/sceleton.css";

:root {
  --bg-neutral-1: rgba(36, 74, 127, 0.06);
  --border-neutral-1: rgb(155, 155, 155);
  --bg-focus-1: #a8b9bc33;
  --bg-active-1: rgba(77, 162, 179, 0.2);
  --text-primary: rgba(0, 0, 0, 0.75);
  --text-secondary: rgba(0, 0, 0, 0.54);
  --bg-accent-1: rgba(188, 45, 255, 0.5);
  --bg-accent-hover: rgb(188, 113, 255, 0.5);
  --bg-accent-active: rgb(188, 113, 255, 0.5);
  --text-action:rgba(188, 45, 255);
  --text-primary-on-accent: rgba(51, 51, 51, 1);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Neue Haas Unica W1G";
}
html {
  min-height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-align: center;
}
.error {
  color: red;
}

.success {
  color: rgb(114, 168, 33);
  align-content: center;
  align-items: center;
  height: auto;
  a {
    color: rgb(96, 153, 134);
    margin-top: 30px;
  }
}
.messages {
  align-content: center;
  align-items: center;
  margin: 30px auto;
  height: auto;
}
